body {
    font-family: 'Lato', sans-serif;
    background-color: #e1e1e1;
}

h1 {
    font-family: 'Questrial', sans-serif;
    font-size: 1.7em;
    text-transform: uppercase;
    vertical-align: middle;
}

.topbar,
.sidebar {
    background-color: #ffffff;
    padding: 1em;
    margin: 1em;
}

.topbar::after {
    content: "";
    display: block;
    clear: both;
}

.topbar h1 {
    display: inline;
    line-height: 40px;
    color: #8e8a8a; 
}

.topbar button {
    position: relative;
    float: right;
    font-size: 1.2em;
    padding: 0.5em 0.3em;
    border: none;
    background-color: #ffffff;
    color: #b2b2b2;
}

.sidebar img {
    width: 100%;
}

.sidebar h1 {
    text-align: center;
    color: #e75425;
}

.sidebar #title {
    text-align: center;
    font-size: 0.9em;
}

.sidebar p {
    font-size: 1em;
    line-height: 1.6em;
}
