.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: #ffffff;
}

.container {
    background-color: #e1e1e1;
    padding: 1em;
}

h1 {
    font-family: 'Questrial', sans-serif;
    font-size: 1.7em;
    text-transform: uppercase;
    vertical-align: middle;
}

.topbar,
.social-media,
.sidebar,
main {
    background-color: #ffffff;
    padding: 1em;
    margin: 1em;
}

.topbar::after,
.bar {
    content: "";
    display: block;
    clear: both;
}

.topbar h1 {
    display: inline;
    line-height: 40px;
    color: #8e8a8a;
}

.bar h1 {
    display: inline;
    line-height: 40px;
    color: #40b4bc;
}

button {
    position: relative;
    float: right;
    font-size: 1.2em;
    padding: 0.5em 0.3em;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    color: #b2b2b2;
}

.sidebar img {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    display: block;
}

.sidebar h1 {
    text-align: center;
    color: #e75425;
}

.sidebar #title {
    text-align: center;
    font-size: 0.9em;
}

.sidebar p {
    font-size: 1em;
    line-height: 1.6em;
}

main article {
    font-size: 1em;
    line-height: 1.7em;
}

main article.event {
    border: 1px solid #e1e1e1;
    margin-bottom: 1em;
    padding: 0 1em;
    box-sizing: border-box;
}

main section > *:last-child {
    margin-bottom: 0;
}

main > *:first-child {
    margin-top: 0;
}

main section.close {
    background-color: #40b4bc;
    padding: 1em;
}

main section.close h1 {
    color: #ffffff;
}

main section.close button {
    color: #ffffff;
}

main section.close > .articles {
    display: none;
}

main section article h2 {
    color: #e75425;
    font-size: 1.3em;
    font-family: 'Questrial', sans-serif;
    text-transform: uppercase;
}

main section {
    margin-bottom: 0.3em;
}

main section {
    margin-top: 1em;
}

main section.close {
    margin-top: 0;
}

main > *:last-child {
    margin-bottom: 0;
}

.bold {
    font-weight: bold;
}

.social-media {
    text-align: center;
}

.social-media a {
    text-decoration: none;
    color: #ffffff;
}

.social-media i {
    padding: 5px;
}

.social-media .fa-facebook {
    padding: 5px 8px;
    background-color: #3b5998;
}

.social-media .fa-instagram {
    background-color: #2e5e86;
}

.social-media .fa-twitter {
    background-color: #00aced;
}

.graphics {
    width: 100%;
    margin: 0 auto;
    max-width: 950px;
}

.graphics::after {
    display: block;
    content: "";
    clear: both;
}

.event.love figure {
    width: 100%;
    margin: 0 auto 1em;
    max-width: 300px;
}

.event.love img {
    width: 100%;
}

.event.love figcaption {
    text-align: center;
    font-family: 'Questrial', sans-serif;
    color: #b0b0d0;
}

.skillset::after {
    display: block;
    content: "";
    clear: both;
}

.progressBar {
    width: 100%;
    height: 22px;
    border: 1px solid #e1e1e1;
    background-color: #ffffff;
}

.progressBar div {
    background-color: rgba(231, 84, 37, 0.73);
    background-size: cover;
    line-height: 1.5em; /* same as #progressBar height if we want text middle aligned */
    width: 0;
}

table {
    width: 100%;
}

.align-right {
    text-align: right;
    padding-right: 1em;
    font-size: 0.9em;
}

#legend {
    font-size: 0.7em;
    color: #8e8a8a;
}

#float-right {
    float: right;
}

#skills #progresbars {
    padding: 1em;
}

.tag {
    background-color: #40b4bc;
    padding: 0.5em;
    margin: 0.2em;
    display: inline-block;
    color: #ffffff;
    border-left: 3px solid #e75425;
}

.circle {
    border-radius: 50%;
    width: 8px;
    height: 8px;
    background-color: #ffffff;
    display: inline-block;
    margin-right: 0.5em;
}

@media all and (min-width: 800px) {
    .event.love figure {
        position: relative;
        float: left;
        margin-right: 1em;
    }

}
